@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grocery Store</h1>
    <p class="lead">A simple web application using ASP.NET MVC framework and MongoDB.</p>
    <p><a href="~/Product" class="btn btn-primary btn-lg">Search Products &raquo;</a></p>
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Title 1</h2>
        <p>
            Description 1
        </p>
        <p><a class="btn btn-default" href="https://localhost/">Link 1 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Title 2</h2>
        <p>Description 2</p>
        <p><a class="btn btn-default" href="https://localhost">Link 2 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Title 3</h2>
        <p>Description 3</p>
        <p><a class="btn btn-default" href="https://localhost">Link 3 &raquo;</a></p>
    </div>
</div>
-->